#title{
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  height: 70px;
}

#sidebar{
  font-size: 14px;
  font-family: monospace;
  text-align: center;
}

.results pre{
  background-color: white;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  height: 50%;
}
