@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

*{
    font-family: 'Dhurjati', sans-serif;
    text-align: center;
    font-size: 14px;
}

label{
  font-size: 15px;
}


.results pre{
  background-color: white;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  width: 100%;
}

